# AUTHOR: RyoNak
# UPDATE: 2023-08-03
# General
sandbox/
tmp/

# Sensitive
*.gpg

# Envrionments
.env
env/
ENV/
env.bak/

# Cache
.DS_Store
*.bak
*.swp

# Logs
logs
*.log

# bfg
..bfg-report
bfg_check_list/

# ---------------------
# Quarto Setting
# ---------------------
# general
_book
/.quarto/

# python
.venv
.python-version

# python cache
__pycache__/
.pytest_cache/
.ipynb_checkpoints
